body{
    margin: 0px;
    padding: 0px;
    background-color: #cccccc;
}
ul{
    background-color: #444;
    text-align: center;
    padding: 0px;
    margin: 0px;
    list-style:none;
}
li{
    font-size: 24px;
    line-height: 40px;
    height: 40px;
    padding: 20px;
    display: inline-block;
}
a{
    text-decoration: none;
    color: #ffffff;
}